*{
    margin: 0;
    padding: 0;
    
}

body {
    background: #B993D6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Farro', sans-serif;
}

.titulo{
    padding: 20px 0;
    text-align: center;/*centrar*/
    font-size: 2,9em; /*crezca el texto*/
    text-transform: uppercase;
}

.imagen, img{
    border-radius: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: auto;

}

table{
    margin-right: auto;
    margin-left: auto;
    text-align: justify;

}

.cuerpo{
    width: 90%;
    max-width: 1000px;
    margin: 2.0em auto; 
    display: grid;
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 50px;
    margin-top: 10px;
    color: #0f0d03;
    box-shadow: 0 0 10px black;
    border-radius: 10px;

}


.grid-container {
    display: grid;
   /* grid-column-gap: 5px;*/
    grid-template-columns: auto auto auto auto auto;
    background-color: none;
    padding: 10px;
}
  
.grid-item {
    background-color: rgba(237, 212, 247, 0.712);
    border: 1px solid rgba(0, 0, 0, 0.877);
    padding: 20px;
    font-size: 15px;
    text-align: center;
}

.grid-item:hover{
    background-color: rgba(8, 160, 187, 0.199);
}

footer{
    text-align: center;
}